<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SZH Blur Tool</title>
</head>
<body>
    <div style="max-width: 700px; margin: 0 auto; padding: 16px">
        <h1>Blur tool</h1>
        <input type="file" id="photoIn" accept="image/png, image/jpeg" />
    </div>
    <script>
        const photoIn = document.getElementById("photoIn");
        photoIn.onchange = e => {
            console.log(e.target.value);
        }
    </script>
</body>
</html>