.box {
    position: absolute;
    background-color: #0B99FF88;
    box-sizing: border-box;
    cursor: move;
    resize: both;
}

.box:hover:not(:focus) {
    border: solid 3px #0B99FF;
}

.box:focus {
    border: solid 2px #0B99FF;
}